
.ui-datatable-header{
  height:45px;
}

.ui-listbox{

  min-width:300px;
}

.ui-listbox-list{
  height:200px;
}
.inner
{
  display: inline-block;
  padding: 1px 2px 1px 2px;
}
.right{
  float: right;
}

.left {
  height: 100px;
}
