<!--########################################################################################-->
<p-fieldset legend="CSV Control">
  <p-dropdown [options]="dataSources" [style]="{'width':'300px'}" [(ngModel)]="dataSourceSelected"
              placeholder="Select a Source" [required]="true"></p-dropdown>

  <button pButton type="button" label="Load {{dataSourceSelected}}" (click)="loadDataSource($event)"
          icon="fa-check"></button>

  <span>
      <h4>Upload CSV</h4>
    </span>
  <p-fileUpload name="file" url="{{service.BASE_API + '/csv/upload'}}" (onUpload)="onUpload($event)"
                multiple="multiple" accept=".csv,.txt" maxFileSize="1000000">

  </p-fileUpload>

</p-fieldset>
<!--########################################################################################-->
<p-fieldset legend="Filtering and Templates">
  <div style="width:100%;">

    <div style="width: 70%; " class="inner left">

      <h3>Select Filters</h3>
      <p-listbox [options]="generateSelectItems(getAllColumns())" [(ngModel)]="filtersSelected"
                 (onChange)="refreshCriteria($event)"
                 multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
      <div>

        <button pButton type="text" (click)="saveTemplate()" icon="fa-check" iconPos="right" label="Save Template" icon="fa-check"></button>
      </div>

      <span *ngFor="let filter of filtersSelected">
        {{filter}}: <input [placeholder]="filter" type="text" pInputText [(ngModel)]="criteria[filter]"
                           (keyup)="toFilterTable($event, filter)" style="margin: 1px 4px;"/>
    </span>
    </div>
    <div style="width: 30%;" class="inner right">

      <h3>Select Templates</h3>
      <p-listbox [options]="templateOptions" [(ngModel)]="templateSelected" (onChange)="applyFilter()"
                 (onDblClick)="deleteTemplate($event)">
        <ng-template let-i let-template pTemplate="item">
          <div class="ui-helper-clearfix">
            <span style="font-size:14px;float:right;margin:2px 10px 0 0;">{{template.label}}</span>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>
</p-fieldset>
<div>
  <button pButton type="button" icon="fa fa-cloud-download"
          label="Download ({{selectedColumns.length + ' of ' + getAllColumns().length + ' selected'}})"
          (click)="generateReport($event)"></button>
</div>

<p-dataTable [value]="data" [rows]="10" [paginator]="true">
  <p-header>
    sources of {{dataSourceSelected}}
    <p-multiSelect [options]="filterOptions" [(ngModel)]="selectedColumns" class="right"></p-multiSelect>
  </p-header>


  <p-column [field]="col" [header]="col" *ngFor="let col of selectedColumns" [sortable]="true">

    <ng-template *ngIf="getDateFields().indexOf(col) != -1" let-entry="rowData" pTemplate="body">
      {{entry === undefined ? '--' : entry[col] | date}}
    </ng-template>


    <ng-template *ngIf="getStringFields().indexOf(col) != -1" let-entry="rowData" pTemplate="body">
      {{entry === undefined ? '--' : entry[col]}}
    </ng-template>

    <ng-template *ngIf="getBooleanFields().indexOf(col) != -1" let-entry="rowData" pTemplate="body">
      {{entry === undefined ? '--' : entry[col]}}
    </ng-template>
  </p-column>
</p-dataTable>




